.content{
    margin-top: 70px;
    margin-bottom: 10px;
    background-color: #343a40;
    padding: 20px;
    width: 100%;
    color: #ffffff;
}
#result{
    width: 100%;
}
.btn{
    color: #ffffff;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    color: #fff !important;
    text-decoration: none;
}